body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 100px 50px 100px 100px;
  width: 595px;
  display: flex;
  flex-direction: column;
}
.sender-line {
  text-align: left;
  margin-bottom: 20px;
  font-size: 11px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
}
.recipient {
  margin-bottom: 10px;
  text-align: left;
}
.sender {
  text-align: left;
}
.sender .date {
  margin-top: 60px;
  text-align: right;
}
.date {
  text-align: right;
  margin-bottom: 30px;
  font-weight: bold;
}
.number {
  margin-bottom: 10px;
  font-weight: bold;
}
.contract {
  margin-bottom: 20px;
}
.greeting {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text1 {
  margin-bottom: 5px;
}
.text2 {
  margin-bottom: 20px;
}
.performance-period {
  color: blue;
}
.table {
  width: 100%;
  margin-bottom: 30px;
}
.table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.table th, .table td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}
.table th:nth-child(1), .table td:nth-child(1) { width: 10%; }
.table th:nth-child(2), .table td:nth-child(2) { width: 10%; }
.table th:nth-child(3), .table td:nth-child(3) { width: 50%; }
.table th:nth-child(4), .table td:nth-child(4) { width: 15%; }
.table th:nth-child(5), .table td:nth-child(5) { width: 15%; }
.table .price {
  white-space: nowrap;
}
.table td p {
  margin: 0 0 5px 0;
}
.totals {
  text-align: right;
  margin-bottom: 20px;
  font-size: 12px;
}
.notes {
  /*margin-bottom: 50px;*/
  /*font-size: 12px;*/
  margin: 25px;
}
.payment-section {
  position: fixed;
  bottom: 75px;
  left: 75px;
  right: 75px;
}
.payment-line {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-bottom: 10px;
}
.payment-container {
  display: flex;
  align-items: center;
}
.payment {
  flex: 1;
  font-size: 10px;
  text-align: left;
}
.ust-id {
  flex: 1;
  font-size: 10px;
  text-align: center;
}
.empty-space {
  flex: 1;
}
